<ul class="nav nav-pills" style="background-color: rgb(198, 203, 212); margin-bottom: 20px">
  <% categories.each do |cat|%>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= cat.name %></a>
    <ul class="dropdown-menu">
      <% cat.subcategories.each do |subcat| %>
      <li><a class="dropdown-item" href="#"><%= subcat.name %></a></li>
      <% end %>
    </ul>
  </li>
  <%end%>
</ul>