<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="">Go somewhere</a>
  </div>
  <div class="card-footer text-body-secondary">
  <table class="w-100">
  <caption>
    This is an example table, and this is its caption to describe the contents.
  </caption>
  <thead>
    <tr>
      <th>About</th>
      <th>Help</th>
      <th>Consumer Policy</th>
      <th>Mail-Us</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Contact-us</td>
      <td>Payment</td>
      <td>Cancellation & Returns</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>About-us</td>
      <td>shiping</td>
      <td>Turms of us</td>
      <td></td>
    </tr>
    <tr>
      <td>Careers</td>
      <td>Cancellation & Returns</td>
      <td>Security</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Privacy</td>
      <td></td>
    </tr>
  </tbody>
</table>
  </div>
</div>