<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="https://w7.pngwing.com/pngs/8/373/png-transparent-shopping-bags-trolleys-shopping-cart-logo-online-shop-white-logo-shopping-centre-thumbnail.png" height="30px" width="40px">
    <a class="navbar-brand" href="#"><h4>Flipzone </h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", homepage_path , class:"nav-link active"  %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Orders</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item" style="margin: 0px 6px 0px 50px">
      <%= link_to "Become a Seller",  sellerhome_path  ,class:"btn btn-dark" %>
      </li>
      <% if !user_signed_in? %>
      <li class="nav-item" style="margin-right: 5px">
      <%= link_to "Sign Up", new_user_registration_path ,class:"btn btn-success" %>
      </li>
      <% else user_signed_in? %>
      <li class="nav-item" style="margin-right: 0px">
      <%= button_to('Logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-outline-success") %>
      </li>
      <%end%>
      </ul>
    </div>
  </div>
</nav>