<%= render "homepage/navbar" %>
<h3> Enter address </h3>
<%= render "form" , useraddress: @useraddress %>

<%
=begin%>
 <%= render "addresspage" , useraddress: @useraddress , useraddresses: @useraddresses , product: @product%> 
<%
=end%>
