<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to Flipzone <%= @user.email %></h2>
    <p>
      Your order has been confirmed,
    </p>
    <p>
      your order is 
      <% @product.each do |product| %>
      <%= product %>
      <hr>
      <% end %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
