<%= render "homepage/navbar" %>
<div style="display:flex ; justify-content: space-around;">
<div><%= render "show" , product: @product %></div>
<div><%= render "addresscard" , useraddresses: @useraddresses %></div>
</div>
